* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background: rgb(89, 89, 89);
}

.grid {
    display: grid;
    text-align: center;
}

.flexbox {
    display: flex;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr) !important;
        width: 100vw;
    }

    .flexbox {
        flex-direction: column;
        align-items: center;
    }
}
