* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    color: white !important;
    text-decoration: none !important;
}

body {
    background: rgb(89, 89, 89) !important;
}

.grid {
    display: grid;
    text-align: center;
}

.flexbox {
    display: flex;
}

.paper {
    width: 23%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease !important;
}

.paper:hover {
    transform: scale(1.1);
}

.paper .type {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.paper .added {
    margin-bottom: 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.hi {
    background: rgba(67, 255, 189, 0.797);
}

.overflow {
    height: 60vh;
    width: 80%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    overflow: scroll;
    margin-bottom: 20px;
}

.country-wise {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    margin-top: 20px;
    width: 50%;
    color: #fff;
    transform: translateX(-50%);
}

.country-wise .right div {
    margin-top: 30px;
}

.center-btns {
    display: flex;
    position: relative;
    gap: 15px;
    margin-bottom: 20px;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
}

.info {
    background: white;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr) !important;
        width: 100vw;
    }

    .flexbox {
        flex-direction: column;
        align-items: center;
    }

    .paper {
        margin-top: 20px;
        width: 90%;
    }

    .country-wise {
        flex-direction: column;
        text-align: center;
    }

    .country-wise img {
        position: relative;
        right: 10%;
    }

    .center-btns {
        flex-direction: column;
    }

    .center-btns button {
        margin: 3px 10px;
    }
}
